<!-- HTML for Signup page -->
<div class="container">

    <app-header selected="signup"></app-header>

    <!-- To display error message -->
    <div ng-if="hasError">
        <ng-include src="'error.tpl.html'" ></ng-include>
    </div>


    <div ng-hide="success" class="row form-div">
        <form role="form" name="signupForm" class="signup-form" ng-submit="signup()">
            <div>
                <h3 style="font-weight: bold;">Signup Here</h3>
            </div></br>
            <div class="form-group">
                 <label for="name">Profile Picture</label></br>
                 <input type="file" ngfile-Model="user.profilePic"/>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" maxLength="20" ng-model="user.name" name="name" placeholder="Enter your name" alphatextbox>
                <small class="errorTxt" ng-if="signupForm.name.$dirty && signupForm.name.$error.alphatextbox">{{ NAME_ERR }}</small>
            </div>
            <div class="form-group">
                <label for="rStatus">Relationship Status</label></br>
                <select name="rStatus"
                ng-options="rStatus for rStatus in statusList"
                ng-model="user.rStatus" style="width: 100%;"></select>
            </div>
            <div class="form-group">
                <label for="hobby">Hobby</label>
                <input type="text" class="form-control" maxLength="20" ng-model="user.hobby" name="hobby" placeholder="Enter your hobby" alphatextbox>
                <small class="errorTxt" ng-if="signupForm.hobby.$dirty && signupForm.hobby.$error.alphatextbox">{{ HOBBY_ERR }}</small>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label></br>
                <label>
                    <input type="radio" ng-model="user.gender" value="male" >
                        Male
                </label>
                <label style="padding-left: 25px">
                    <input type="radio" ng-model="user.gender" value="female">
                        Female
                </label>                
            </div>    
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" ng-model="user.age" maxLength="2" name="age" placeholder="Enter your age" agetextbox>
                <small class="errorTxt" ng-if="signupForm.age.$dirty && signupForm.age.$error.agetextbox">{{ AGE_ERR }}</small>
            </div>
            <div class="form-group">
                <label for="age">Location</label>
                <div>
                    State <input type="text" class="form-control" maxLength="15" ng-model="user.location.state" name="state" placeholder="Enter your state" alphatextbox>
                    <small class="errorTxt" ng-if="signupForm.state.$dirty && signupForm.state.$error.alphatextbox">{{ STATE_ERR }}</small>
                </div>
                <div ng-if="isStatePopulated">
                </br>
                    City<input type="text" class="form-control" maxLength="15" ng-model="user.location.city" name="city" placeholder="Enter your city" alphatextbox>
                    <small class="errorTxt" ng-if="signupForm.city.$dirty && signupForm.city.$error.alphatextbox">{{ CITY_ERR }}</small>
                </div>
            </div>        
            <div class="textAlign-center">
                <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-primary">Sign up</button>
            </div>
        </form>
    </br></br> 
    </div>
</div>