<div class="left-box">
						<nav>
							<ul>
								<li>
									<a href="" class="modify-search">
										<p>Menu Item 1</p>
									</a>
								</li>
								<li>
									<a href="" class="nearme">
										<p>Menu Item 2</p>
									</a>
								</li>
								<li>
									<a href="" class="nudge">
										<p>Menu Item 3</p>
									</a>
								</li>
								<li>
									<a href="" class="message">
										<p>Menu Item 4</p>
									</a>
								</li>
								<li>
									<a href="" class="blinddate">
										<p>Menu Item 5</p>
									</a>
								</li>
								<li>
									<a href="" class="bookmarks">
										<p>Menu Item 6</p>
									</a>
								</li>
								<li>
									<a href="" class="report-an-issue">
										<p>Menu Item 6</p>
									</a>
								</li>
							</ul>
						</nav>
</div>